//Variables

//Fonts
$heading-font: 'Playfair Display', serif;
$body-font: 'Montserrat', sans-serif;

//Colours
$green: #92B851;
$dark-green: #2D3819;
$light-grey: #D3D3D3;

//Padding & Margins

$main-spacing: 1.5rem;

//Transitions

$main-transition: 0.5s ease-in-out;