//About Page

.about-page {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  padding: $main-spacing 5%;

  figure {
    text-align: center;
  }

  img {
    width: 30rem;
    height: auto;
    padding: $main-spacing * 2;
  }
}

.about-page, .hypnotherapy-page, .reiki-page {
  a {
    color: $green;
    text-decoration: none;
    transition: $main-transition;
    cursor: pointer;
  }

  a:hover {
    color: $dark-green;
  }
}

//Tablet & Desktop View

@media screen and (min-width: 600px) {
  .about-page {
    padding: $main-spacing 10%;

    img {
      width: 50rem;
    }
  }
}