//Contact Page

.contact-page {
  padding: $main-spacing 0;

  a {
    color: black;
    text-decoration: none;
    transition: $main-transition;
    cursor: pointer;
  }

  a:hover {
    color: $green;
  }
}

.contact-p p {
  margin-bottom: $main-spacing * 2;
}

.contact-content {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.contact-form span {
  color: red;
  font-weight: bold;
}

.name-form, .email-form, .subject-form, .message-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  
  span {
    margin: 0;
  }

  input {
    font-family: $body-font;
  }

  textarea {
    font-family: $body-font;
  }
}

.message-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.name-form label {
  margin-top: 0;
}

.contact-form {
  label {
    margin: $main-spacing 0;
  }

  input {
    padding: 1rem;
  }

  textarea {
    padding: 0;
  }
}

.contact-address {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: $main-spacing * 2;

  span {
    font-weight: bold;
    margin: 0;
  }
}

iframe {
  width: 30rem;
  height: 20rem;
}

//Tablet & Desktop View

@media screen and (min-width: 600px) {
  .contact-page {
    padding: $main-spacing 10%;
  }

  .contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .contact-address {
    margin-top: 0;
  }

  .contact-form {
    padding-right: $main-spacing * 2;
  }

  textarea {
    padding: 1rem;
  }

}

@media screen and (min-width: 1080px) {
  .contact-content {
    justify-content: space-around;
  }

  .contact-form {
    padding-right: 0;
  }

  iframe {
    width: 40rem;
    height: 30rem;
  }
}