//Reiki Page

.reiki-page {
  padding: $main-spacing 0;

  p, ul {
    text-align: justify;
    padding: 0 5%;
  }

  img {
    width: 30rem;
    height: auto;
    padding: $main-spacing * 2;
  }
}

.reiki-text ul {
  padding-left: $main-spacing;
  list-style-type: disc;
}

.pricing p {
  text-align: center!important;
}

//Tablet & Desktop View

@media screen and (min-width: 600px) {

  .reiki-page {
    padding: $main-spacing 10%;

    p, ul {
      text-align: justify;
      padding: 0;
    }

    img {
      width: 40rem;
    }
  }
}

@media screen and (min-width: 1080px) {

}